aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
pip
propcache
pydantic
pydantic_core
requests
typing_extensions
typing-inspection
urllib3
yarl